*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.calculator{
    width: 300px;
    background-color: blue;
    margin:auto;
    margin-top: 30px;
    border-radius: 10px;
}
.calculator h1{
    text-align: center;
    padding-top: 10px;
}
.inputfield input{
    width: 100%;
    height: 30px;
    text-align: end;
    padding-right: 10px;
    /* border:none ; */
}
button{
    width: 65px;
    height: 50px;
   margin-left: 4px;
   margin-top: 2px;
}
.buttonss button{
    width: 89px;
    height: 50px;
   

}