button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size:larger ;

}
button:hover{
    background-color: blue;
}


.box{
    width: 400px;
    height: 400px;
    background-color: black;
    border-radius: 50%;
}
.box1{
    width: 300px;
    height: 250px;
    background-color: blue;
    border-radius: 70px 70px 70px 70px;
}



.card{
    width: 300px;
    height: 400px;
    background-color: blue;
    border-radius: 8px;
}

.card img{
    width: 100%;
    height: 250px;
}
.card h1{
    text-align: center;
}