/* h1{
    color: blue;
    background-color: green;
} */

/* .head1{
    color: red;
    background-color: yellow;
}

.head{
    color: blue;
    background-color: green;
} */


/* #name{
    color: white;
    background-color: brown;
}

.head1 {
    color: red;
} */

/* .parent{
    color: yellow;
} */