.table table{
    border: 2px solid ;
    width: 50%;
    height: 200px;
    
    
    
}
.table th{
    font-size: 26px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    border: 3px solid black;
    
}
.table td{
    font-size: 20px;
    padding-left: 20px;
    background-color: rosybrown;
    border: 2px solid black;
    border-spacing: 5px;
}


.table th:hover{
    background-color: black;
    color: white;
    cursor: move;

}
.table td:hover{
background-color: red;
color: white;
cursor: pointer;
font-weight: 900;
}
