.box{
    background-image: url(./2019_04_02_69095_1554196119._large.jpg);
    width: 100%;
    height: 400px;
    /* background-position: ; */
    background-size: cover;
    background-repeat: no-repeat;
background-position: center;

}
.box img{
}